*{
    margin: 0;
    /* padding: 0; */
}
/* <!-- Import Open Sans font with specific styles and weights --> */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* **navbar style  */
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin:0 200px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
.r{
    color:#FD6E0A;
}
nav a{
    text-decoration: none;
}
nav>ul{
    display: flex;
    align-items: center;
    
    
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
.banner-textt{
    max-width: 500px;
}
.banner-greeting{
    font-size: 50px;
}
.banner-text h1{
    font-size: 90px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-text p{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 18px;
}
.primary-button{
    background-color: #FD6E0A;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
}
.primary-button {
    background-image: linear-gradient(to right, #FD6E0A 50%, #ffffff 50%);
    background-size: 200% 100%;
    transition: background-position 0.5s;
}

.primary-button:hover {
    background-position: -100% 0;
    color: black;
}
/* banner style   */
.banner{
    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;
}
.banner-image img{
    
    margin-bottom: -5px;
}
header{
    background-color: ;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top right;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main div{
    /* margin-top: 150px; */
}
.about{
    text-align: center;
    margin: 140px auto;
    padding: 100px;
    height: 250px;
    width: 1000px;
    background-color:#f3fff6 ;
}
.about h3{
    margin-bottom: 30px;
    font-size: 30px;
}
.about p{
    font-size: 20px;
}
.info{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    text-align: center;
}
.do h3{
    margin-bottom: 30px;
    font-size: 30px;

}
.do{
    text-align: center;
    margin: 140px auto;
    padding: 100px;
    height: 250px;
    width: 1000px;
}
.do p{
    /* padding: 30px 150px; */
}
.skill-container{
    display: flex;
    gap: 24px;
    justify-content: space-evenly;
    margin-top: 30px;
    
    text-align: left;
    width: 1000px;
}
.skills{
    /* padding: 10px; */
    /* border: 2px solid black; */
    /* height: 350px;
    width: 350px; */
    border-radius: 30%;
    margin-top: 80px;
    padding:30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 06);
    transition: transform 0.5s ease;
    
}
.skills:hover {
    transform: translateY(-30px); 
    /* Move the card 20px up when hovered */

}

.summery h3{
    margin-top: 200px;
    margin-bottom: 100px;
    font-size: 40px;
    text-align: center;
    padding-top: 150px;
}
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 50px;
    
}
.resume-item-title{
    color: #757575;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-institute, .resume-item-description{
    color: #757575;

}
.resume-container hr{
    margin-top: 30px;
}
.resume-item-title{
    margin-top: 30px;
}
.resume-item-institute{
    margin-top: 0px;
    margin-bottom: 20px;
}
.resume-item-description{
    margin-top: 10px;
}
.download-cv{
    /* align-items: center;
    justify-content: center; */
    text-align: center;
    margin-top: 80px;
}
footer{
    background-color: aqua;
    padding: 130px 200px;
}
.contact{
    gap: 60px;
    display: flex;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 100px;
}
footer h3{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    padding-top: 50px;
}
footer input, textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 36px;
    color: #757575;
} 
body {
    background: #fbfbfd;
}

.new_footer_area {
    background: #fbfbfd;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #e6dace;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
.footer_bottom p{
    
    align-items: center;
   
}
/* Hide the hidden message by default */
#showButton{
    background-image: linear-gradient(to right, #FD6E0A 50%, #ffffff 50%);
    background-size: 200% 100%;
    transition: background-position 0.5s;
    background-color: #FD6E0A;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
    
    margin-top: 200px;
    text-align: center;
    
  
}
#showButton:hover{
    background-position: -100% 0;
    color: black;
}
#hiddenMessage {
    display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  }
/*************footer End*****************/

